---
import './card-portfolio.css';
const {
	title,
	descripcion,
	imgSrc,
	skills,
	repoURL,
	demoURL,
	averageBrightness,
} = Astro.props;
---

<div class="card__portfolio">
	<img
		src={imgSrc}
		alt={title}
		crossorigin="anonymous"
		height={130}
		width={332}
		loading="lazy"
		average-brightness={averageBrightness}
	/>

	<div class="descripcion__container">
		<h2 class="card__title">{title}</h2>
		<div class="descripcion">
			<!-- <p>{descripcion}</p> -->
			<p set:html={descripcion.replace(/\n/g, "<br>")}></p>

			<div class="skills">
				{
					skills.map((skill) => (
						<iconify-icon class="iconify" icon={skill} />
					))
				}
			</div>

			<div class="buttons">
				{repoURL ? (
					<a href={repoURL} target="_blank" rel="noreferrer nofollow">
						<span>
							Github
							{(<iconify-icon icon="quill:link-out" />)}
						</span>
					</a>
				) : null}

				{demoURL ? (
					<a href={demoURL} target="_blank" rel="noreferrer nofollow">
						<span>
							Demo
							{(<iconify-icon icon="quill:link-out" />)}
						</span>
					</a>
				) : null}
			</div>
		</div>
	</div>
</div>
