---
const {width, height} = Astro.props;
const socialLinks = [
	{
		title: 'LinkedIn',
		icon: 'simple-icons:linkedin',
		href: 'https://www.linkedin.com/in/sophie-rudio-220b18175/',
	},
	{
		title: 'GitHub',
		icon: 'uiw:github',
		href: 'https://github.com/sophie-rud',
	},
	{
		title: 'CV',
		icon: 'pepicons-print:cv',
		href: '../docs/cv_sophie_rudio.pdf',
	},
	{
		title: 'Portfolio_Archi',
		icon: 'pepicons-print:book',
		href: 'https://www.calameo.com/read/0057523997cbfb82f6725?authid=e57kAfpJRV5m',
	},
];
---

<div class="icons__container">
    {
        socialLinks.map((data) => (
            <a
                href={data.href}
                target="_blank"
                rel="nofollow noreferrer noopener"
            >
                <iconify-icon
					class=`skill__icon ${data.title}`
                    icon={data.icon}
                    width={width}
                    height={height}
                />
            </a>
        ))
    }
</div>

<style>
.icons__container {
	display: flex;
    width: 29.6rem;
    /* padding: 1.3rem 4rem; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.skill__icon{
	color:#dcd8fc;
}

	.LinkedIn:hover{
	color: #23a5e1;
	}
	.GitHub:hover{
	color: #E1306C;
	}
	.CV:hover{
	color:#8e64ff;
	}

</style>